@body-color: #efefef;
@bg-color-4: #fafafa;
@font-14: 14px;
@font-16: 16px;


@line-color-1: #ccc;
@line-color-2: #ddd;
@line-color-3: #eee;
@line-color-4: #ebebeb;


@theme-color: #1b1b1b;
@hint-color: #ff584e;
@bg-color-1: #2a2a2a;


@hint-color-right: #00beff;
@hint-color-error: #ff584e;
@font-color-3: #333;
@font-color-6: #666;
@font-color-7: #777;
@font-color-9: #999;